{% extends "account/base_entrance.html" %}
{% load allauth %}
{% load i18n %}
{% block head_title %}
    {% trans "Confirm Access" %}
{% endblock head_title %}
{% block content %}
    <h3 class="fw-bold" style="color:#185319;">Confirm Access</h3>
    {% element p %}
        {% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}
    {% endelement %}
    {% block reauthenticate_content %}{% endblock %}
    {% if reauthentication_alternatives %}
        {% element hr %}
        {% endelement %}
        <h4 class="fw-bold" style="color:#185319;">Alternative options</h4>
        <ul>
            {% for alt in reauthentication_alternatives %}
                <li>
                    <a href="{{ alt.url }}">{{ alt.description }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
