{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}

        {% if not SOCIALACCOUNT_ONLY %}
            {% setvar link %}
                <a href="{{ signup_url }}">
                {% endsetvar %}
                {% setvar end_link %}
                </a>
            {% endsetvar %}

            {% url 'account_login' as login_url %}

                    <form method="POST" action={% url 'account_login'%}>
                            {% csrf_token %}
                            <h4 class="card-title fw-bold pb-3">Sign In</h4>
                            <fieldset class="form-group">
                              {{ form|crispy}}
                            </fieldset>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success" style="background-color: #185319 !important;" type="submit">Sign In</button>
                            </div>
                          <p class="card-text mt-3"><small class="text-body-secondary">If you have not created an account yet, then please <a href="{{ signup_url }}" style="color: #185319" class="fw-bold">Sign Up</a></small></p>
                    </form>

        {% endif %}
        {% if LOGIN_BY_CODE_ENABLED %}
            {% element hr %}
            {% endelement %}
            {% element h2 %}
                {% element button href=request_login_code_url tags="prominent,login,secondary" %}
                    {% trans "Mail me a sign-in code" %}
                {% endelement %}
            {% endelement %}
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}

{% endblock content %}
