{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}


    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% url 'account_reset_password' as reset_url %}

    <form method="POST" action={% url 'account_reset_password'%}>
        {% csrf_token %}

                <h4 class="card-title fw-bold">Password Reset</h4>

                <p class="card-text"><small class="text-body-secondary">Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</small></p>
                <fieldset class="form-group">
                  {{ form|crispy}}
                </fieldset>
                <div class="d-grid gap-2">
                    <button class="btn btn-success" style="background-color: #185319 !important;" type="submit">Reset My Password</button>
                </div>
              <p class="card-text mt-3"><small class="text-body-secondary">Please contact us if you have any trouble resetting your password.</small></p>

    </form>
    
{% endblock content %}
