{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}

        {% if token_fail %}
            <h3 class="fw-bold" style="color:#185319 ">Bad Token</h3>
        {% else %}
            <h3 class="fw-bold" style="color:#185319 ">Change Password</h3>
        {% endif %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        {% element p %}
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        {% endelement %}
    {% else %}


        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                    {{ form|crispy}}
            {% endslot %}
            {% slot actions %}
                <div class="d-grid gap-2">
                    <button class="btn btn-success" style="background-color: #185319 !important;" type="submit">Change Password</button>
                </div>
            {% endslot %}
        {% endelement %}




    {% endif %}
{% endblock content %}
