{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Set Password" %}
    {% endelement %}
    {% url 'account_set_password' as action_url %}

    
    <form method="POST" action={% url 'aaccount_set_password'%}>
        {% csrf_token %}
        <h3 class="fw-bold" style="color: #185319">Set Password</h3>
        <fieldset class="form-group">
          {{ form|crispy}}
        </fieldset>
        <div class="d-grid gap-2">
            <button class="btn btn-success" style="background-color: #185319 !important;" type="submit">Set Password</button>
        </div>
    </form>
    
    
{% endblock content %}
