{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
{% load crispy_forms_tags %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}

    {% url 'account_change_password' as action_url %}


    <form method="POST" action={% url 'account_change_password'%}>
        {% csrf_token %}
        <h3 class="fw-bold" style="color: #185319">Change Password</h3>
        <fieldset class="form-group">
          {{form|crispy}}
        </fieldset>
        <div class="d-grid gap-2">
            <button class="btn btn-success" style="background-color: #185319 !important;" type="submit">Change Password</button>
        </div>
        <p class="card-text mt-3"><small class="text-body-secondary"><a href="{{ login_url }}" style="color: #185319" class="fw-bold">Forgot Password?</a></small></p>
    </form>
{% endblock content %}
