{% extends "account/base_reauthenticate.html" %}
{% load allauth %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block reauthenticate_content %}
    {% url 'account_reauthenticate' as action_url %}
    <form method="POST" action={% url 'account_reauthenticate'%}>
        {% csrf_token %}
        <h3 class="fw-bold" style="color: #185319">Enter your password</h3>
        <fieldset class="form-group">
          {{ form|crispy}}
        </fieldset>
        <div class="d-grid gap-2">
            <button class="btn btn-success" style="background-color: #185319 !important;" type="submit">Confirm</button>
        </div>
    </form>
{% endblock %}
