{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
{% load crispy_forms_tags %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}

    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
            <form method="POST" action={% url 'account_signup'%}>
                {% csrf_token %}
                <h3 class="fw-bold" style="color: #185319">Sign Up</h3>
                <fieldset class="form-group">
                  {{ form|crispy}}
                </fieldset>
                <div class="d-grid gap-2">
                    <button class="btn btn-success" style="background-color: #185319 !important;" type="submit">Sign Up</button>
                </div>
                <p class="card-text mt-3"><small class="text-body-secondary">Already have an account? Then please <a href="{{ login_url }}" style="color: #185319" class="fw-bold">Sign in</a></small></p>
            </form>
    {% endif %}

    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}

{% endblock content %}
