{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
{% load crispy_forms_tags %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <section class="w-100 m-auto py-4">
                {% if not SOCIALACCOUNT_ONLY %}
                    {% url 'account_signup' as action_url %}
                        <form method="POST" action={% url 'account_signup'%}>
                            {% csrf_token %}
                            <div class="card shadow border-0 mb-3">
                              <img src="/static/documents/images/as_logo.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                    <h4 class="card-title fw-bold pb-3">Sign Up</h4>
                                    <fieldset class="form-group">
                                      {{ form|crispy}}
                                    </fieldset>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-success" style="background-color: #185319 !important;" type="submit">Sign Up</button>
                                    </div>
                                  <p class="card-text mt-3"><small class="text-body-secondary">Already have an account? Then please <a href="{{ login_url }}" style="color: #185319" class="fw-bold">Sign in</a></small></p>
                              </div>
                            </div>
                        </form>
                {% endif %}

                {% if SOCIALACCOUNT_ENABLED %}
                    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                {% endif %}
            </section>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
{% endblock content %}
