{% extends 'accounts/business_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <main>
        <div class="container-fluid bg-body-tertiary rounded-top-4 p-4">
            <div class="container position-relative bg-white shadow-sm p-0 rounded-3">
                <img src="/static/documents/images/as_logo.jpeg" class="card-img-top rounded-3" alt="...">
            </div>


            <div class="container mb-1 mt-4 ps-0">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb breadcrumb-chevron mb-0 p-3 bg-body-tertiary rounded-3">
                    <li class="breadcrumb-item">
                      <a class="link-body-emphasis fw-semibold" href="{% url 'index' %}"><i class="bi bi-house-door-fill pe-2"></i>
                        <span class="text-decoration-none">Dashboard</span>
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a class="link-body-emphasis text-decoration-none" href="#">Account Profile</a>
                    </li>
                  </ol>
                </nav>
            </div>
            <div class="container position-relative">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} rounded-5 m-3">
                        {{message}}
                    </div>
                {% endfor %}
                {% endif %}

                <!-- Non-field errors -->
                {% if form.non_field_errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                
                <!-- Field-specific errors -->
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                <li><strong>{{ field|capfirst }}</strong>:
                                    {% for error in errors %}
                                        {{ error }}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>


            <div class="container position-relative mb-5 p-4 bg-white shadow-sm rounded-3">
                <h4 class="PrimaryColor pb-1 fw-bolder">01. Business Details</h4>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img src="{{ business_account.logo.url}}" alt="..." class="rounded" style="width:8rem;">
                    </div>
                    <div class="me-auto ps-3"><span class="PrimaryColor text-uppercase fw-bolder">{{ business_account.name }} Business Account</span> <br><span class="text-muted">Created on: </span></div>
                    <div class="p-2">
                        <button type="button" class="btn btn-outline-dark rounded-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-upload pe-2"></i> Edit Business Account Detail</button>

                        <!-- Start of Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title PrimaryColor fw-bold fs-5" id="exampleModalLabel">Edit 
                                                {{ business_account.name}} Account details</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                    <form id="original-form" method="post" enctype="multipart/form-data" action="{% url 'business-profile' %}">
                                        <div class="modal-body">
                                        {% csrf_token %}
                                        <div class="row g-3">
                                            <div class="col-sm-12">
                                                {{ u_form.name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-sm-12">
                                                {{ u_form.email|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                {{ u_form.tel|as_crispy_field }}
                                            </div>
                                            <div class="col-sm-6">
                                                {{ u_form.phone_number|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="row g-3 d-flex">
                                            <div class="col-sm-6">
                                                <label for="color" class="form-label">Click to select:</label>
                                                {{ u_form.theme_color|as_crispy_field }}
                                            </div>
                                            <div class="col-sm-6">
                                                {{ u_form.logo|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-sm-12">
                                                {{ u_form.address|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-sm-12">
                                                {{ u_form.location|as_crispy_field }}
                                            </div>
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- End of Modal -->



                    </div>
                    <div class="p-2">
                        <h6 class="text-center">
                            <button type="button" class="btn btn-outline-danger rounded-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Delete Account</button>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header border-bottom-0 pb-0">
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <h4 class="fw-semibold text-center text-danger">Delete Account</h4>
                                        <p class="text-center">You are about to permanently delete your records. Kindly note you will not be able to retrieve any data linked to this account in the future.</p>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                        <a href="{% url 'business-account-deletion' business_account.id %}"><button type="button" class="btn btn-danger">Delete account</button></a>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!--End of Modal -->
                        </h6>
                    </div>
                </div>
            </div>



            <div class="container position-relative mb-5 p-4 bg-white shadow-sm rounded-3">
                <h4 class="PrimaryColor pb-1 fw-bolder">02. Payment Section</h4>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Account name</th>
                                <th scope="col">Account number</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in payment_options %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ account.name }}</td>
                                    <td>{{ account.account_no }}</td>
                                    <td><a href="{% url 'payment-edit' account.id %}"><button class="btn btn-outline-dark rounded-5">Edit</button></a></td>
                                    <td>
                                        <button class="btn btn-outline-danger rounded-5" data-bs-toggle="modal" data-bs-target="#staticBackdropDeletePayment">Delete</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdropDeletePayment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header border-bottom-0 pb-0">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body pt-0">
                                                    <h4 class="fw-semibold text-center text-danger">Delete Payment Option</h4>
                                                    <p class="text-center">You are about to permanently delete {{ account.name }} payment option. </p>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                    <a href="{% url 'payment-account-delete' account.id %}"><button type="button" class="btn btn-danger">Delete account</button></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!--End of Modal -->

                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center">
                    <div class="me-auto ps-3">
                    </div>
                    <div class="p-2">
                        <a href="{% url 'payment-account-add' %}"><button type="button" class="btn btn-outline-dark rounded-5"><i class="bi bi-wallet-fill pe-2"></i> Add Payment Option</button></a>


                    </div>

                </div>
            </div>




            <div class="container position-relative mb-5 p-4 bg-white shadow-sm rounded-3">
                <h4 class="PrimaryColor pb-1 fw-bolder">03. Client Profiles</h4>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Physical Location</th>
                                <th scope="col">P.O.Box</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for address in client_addresses %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ address.name }}</td>
                                    <td>{{ address.address }}</td>
                                    <td>{{ address.postal_address }}</td>
                                    <td><button class="btn btn-outline-dark rounded-5">Edit</button></td>
                                    <td>
                                        <button class="btn btn-outline-danger rounded-5" data-bs-toggle="modal" data-bs-target="#staticBackdropDeleteClient">Delete</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdropDeleteClient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header border-bottom-0 pb-0">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body pt-0">
                                                    <h4 class="fw-semibold text-center text-danger">Delete Client profile</h4>
                                                    <p class="text-center">You are about to permanently delete {{ address.name }} profile. </p>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                    <a href="{% url 'business-account-deletion' business_account.id %}"><button type="button" class="btn btn-danger">Delete account</button></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!--End of Modal -->

                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center">
                    <div class="me-auto ps-3">
                    </div>
                    <div class="p-2">
                        <button type="button" class="btn btn-outline-dark rounded-5" data-bs-toggle="modal" data-bs-target="#staticBackdropAddClient"><i class="bi bi-person-fill-add pe-2"></i> Add Client</button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdropAddClient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                
                                <form id="original-form" method="post" enctype="multipart/form-data" action="{% url 'payment-account-register' %}">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title PrimaryColor fw-bolder fs-5" id="exampleModalLabel">Add new Client</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body pt-2">
                                            {% csrf_token %}
                                            {{ payment_form|crispy}}
                                        </div>
                                        <div class="d-grid gap-2 p-3">
                                            <button class="btn btn-outline-dark rounded-5" type="submit">Add Client </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--End of Modal -->

                    </div>

                </div>
            </div>

        </div>
    </main>
{% endblock %}
