{% extends 'accounts/business_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <main>
        <div class="container-fluid bg-body-tertiary rounded-top-4 p-4">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} m-3">
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}
            <div class="position-relative p-5 text-center text-muted bg-white shadow-sm rounded-5">
                <h2 class="my-2 PrimaryColor text-capitalize fw-bold">Edit {{ business_account.name }} Business Account<h2>
            </div>
        </div>
    </main>
{% endblock %}
