{% extends 'accounts/business_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <main>
        <div class="container my-5">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} rounded-5 m-3">
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}
            
            <div class="position-relative p-5 text-center text-muted bg-white shadow-sm rounded-5">
                {% if business_profiles %}
                    <h2 class="my-2 PrimaryColor fw-bold">Choose Account to proceed</h2>
                    <div class="d-grid mt-4 align-items-center justify-content-center">
                        {% for account in business_profiles %}
                            <a class="text-decoration-none" href="{% url 'business-account-dashboard' account.id %}">
                                <div class="card border mb-3" style="max-width: 26rem;">
                                    <div class="card-body text-start py-3" id="BusinessAccountsCard">
                                        <h5 class="card-title text-capitalize text-dark fw-medium">{{ account.name }}</h5>
                                        <p class="card-text text-muted">{{ account.phone_number }}, {{ account.email }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <h2 class="my-2 PrimaryColor fw-bold">Start by adding a new business account</h2>
                {% endif %}
                <a href="{% url 'busines-account-register' %}"><button class="btn  btn-success BgPrimaryColor text-white rounded-4 px-5 mt-3" type="button">
                    Create a new business account
                </button></a>


            </div>


        </div>
    </main>
{% endblock %}