{% extends 'accounts/business_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <main>
        <style>
            .step {
                text-align: center;
            }
    
            .progress-container {
                display: flex;
                justify-content: space-between;
                position: relative;
                margin-top: 20px;
            }
    
            .progress-container .progress {
                flex-grow: 1;
                margin: 0 20px;
            }
    
            .icon-circle {
                background-color: #185319;
                color: white;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
            }
          
        </style>
        <div class="container bg-body-tertiary rounded-top-4 p-4">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} rounded-5 m-3">
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}
            

            <div class="container position-relative p-5 bg-white shadow-sm rounded-5">
                <div class="container mt-1 mb-4">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
                        <li class="breadcrumb-item">
                          <a class="link-body-emphasis fw-semibold" href="{% url 'business-account' %}"><i class="bi bi-house-door-fill pe-2"></i>
                            <span class="text-decoration-none">Home</span>
                          </a>
                        </li>
                        <li class="breadcrumb-item">
                          <a class="link-body-emphasis text-decoration-none" href="#">Payment Account</a>
                        </li>
                      </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col step">
                        <div class="icon-circle">
                            <i class="bi bi-person-plus-fill"></i>
                        </div>
                        <div class="pt-2">01. Register Business account</div>
                    </div>
                    <div class="col step">
                        <div class="icon-circle">
                            <i class="bi bi-credit-card-fill"></i>
                        </div>
                        <div class="pt-2">02. Add Payment option</div>
                    </div>
                    <div class="col step">
                        <div class="icon-circle">
                            <i class="bi bi-person-badge-fill"></i>
                        </div>
                        <div class="pt-2">03. Add Client address</div>
                    </div>
                </div>
                <div class="progress-container">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%; background-color:#185319;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>



                <div class="mt-5 p-4">
                    <h4 class="mb-2 PrimaryColor fw-bold ">02. Add Payment Account</h4>
                    <form id="original-form" method="post" enctype="multipart/form-data" action="{% url 'payment-account-register' %}">
                        <div class="modal-body">
                        {% csrf_token %}
                            {{ payment_form|crispy}}
                        </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-outline-dark rounded-5" type="submit">Add payment option</button>
                            </div>

                    </form>
                </div>
            </div>

        </div>
    </main>
{% endblock %}