{% extends 'documents/base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid bg-body-tertiary rounded-top-4 p-4">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} m-3">
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}

            <div class="container-fluid overflow-hidden p-4">
                <div class="row gy-5">
                  <div class="col-sm-4">
                    <div class="p-3 shadow-sm rounded-4 bg-white">
                        <div class="card border-0">
                            <img src="/static/documents/images/arieshelby_profile.svg" class="card-img-top" alt="..." style="width:24rem;">
                            <div class="card-body">
                              <h5 class="card-title">Company name: ARIESHELBY</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="p-3 shadow-sm rounded-4 bg-white">Custom column padding</div>
                  </div>
                </div>
            </div>



        </div>
    </main>
{% endblock %}
