@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Montserrat", sans-serif !important;
  /* font-family: "Raleway", sans-serif; */
}
.PrimaryColor{
  color:#185319;
}
.BgPrimaryColor{
  background-color: #185319;
}