{% extends 'documents/base.html' %}
{% block content %}
<main>
        {% if messages %}
           {% for message in messages %}
               <div class="alert alert-{{message.tags}} m-3">
                   {{message}}
               </div>
           {% endfor %}
        {% endif %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Clients</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'clients' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-dark mb-4">
                    <div class="card-body">Quotations</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-dark stretched-link" href="{% url 'quotations' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Invoices</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'invoice' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Delivery notes</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'delivery_note' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 p-4">
                <table class="table table-sm caption-top table-hover table-bordered">
                    <caption>Latest Quotations</caption>
                    <thead class="table-light">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Quotation Code</th>
                          <th scope="col">Client</th>
                          <th scope="col">Total Amount</th>
                          <th scope="col">Submission Date</th>
                          <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quotation in all_quotations %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td class="text-uppercase"><a href="{% url 'quotation_details' quotation.id %}">{{ quotation.quotation_id }}</a></td>
                              <td>{{ quotation.client }}</td>
                              <td>{{ quotation.total_price }}</td>
                              <td>{{ quotation.submission_date }}</td>
                              <td>{% if quotation.status %}
                                    Final
                                  {% else %}
                                    Draft
                                  {% endif %}
                              </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xl-6 p-4">
                <table class="table table-sm table-hover table-bordered caption-top table-responsive">
                    <caption>Latest Invoices</caption>
                    <thead class="table-light">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Invoice Code</th>
                          <th scope="col">Client</th>
                          <th scope="col">Total Amount</th>
                          <th scope="col">Submission Date</th>
                          <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in all_invoices %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td class="text-uppercase"><a href="{% url 'invoice_details' invoice.id %}">{{ invoice.invoice_id }}</a></td>
                              <td>{{ invoice.client }}</td>
                              <td>{{ invoice.total_price }}</td>
                              <td>{{ invoice.submission_date }}</td>
                              <td>{% if invoice.status %}
                                    Final
                                  {% else %}
                                    Draft
                                  {% endif %}
                              </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</main>
{% endblock %}
