{% extends 'documents/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <main>
        <script>
            $(document).ready(function() {
                $('#add-form-btn').click(function() {
                    var formCount = $('.form-container').length;
                    var clone = $('.form-container').last().clone(true);
                    clone.find('input').val('');  // Clear input values
                    clone.find('label').each(function() {
                        var labelFor = $(this).attr('for');
                        $(this).attr('for', labelFor.replace(/\d+/, formCount));
                    });
                    clone.find('input, select, textarea').each(function() {
                        var id = $(this).attr('id');
                        var name = $(this).attr('name');
                        $(this).attr('id', id.replace(/\d+/, formCount));
                        $(this).attr('name', name.replace(/\d+/, formCount));
                    });
                    $('.form-container').last().after(clone);
                    $('#form_count').val(formCount + 1);
                });
            });
        </script>
        {% if messages %}
           {% for message in messages %}
               <div class="alert alert-{{message.tags}} m-3">
                   {{message}}
               </div>
           {% endfor %}
        {% endif %}
        <div class="container-fluid px-4">
            <h1 class="mt-4">Quotations</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Create or view quotations from here</li>
            </ol>

            <div class="card bg-warning mb-4">
                <a class="text-decoration-none text-dark" href="#">
                    <div class="card-body" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <h5 class="text-center fw-bolder"><i class="bi bi-upload pe-2"></i> Create a Quotation</h5>
                    </div>
                </a>
            </div>

            <!-- Start of Upload Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
                  <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Quotation Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form id="original-form" method="post" action="{% url 'quotations' %}">
                                {% csrf_token %}
                                <input type="hidden" id="form_count" name="form_count" value="{{ forms|length }}">
                                {% for form in forms %}
                                    <div class="form-container">
                                        {{ quotation_form|crispy }}
{#                                        {{ form|crispy }}#}
                                    </div>
                                {% endfor %}



                                <button type="button" id="add-form-btn">Add Another Form</button>
                                <div class="p-3">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                    </div>
                                </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
            <!-- End of Upload Modal -->

            {#start of draft quotation tables#}
                <section class="p-4">
                    <div class="table-responsive">
                        <table class="table table-sm caption-top table-hover table-bordered">
                            <caption>Draft Quotations</caption>
                            <thead class="table-light">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">First</th>
                                  <th scope="col">Last</th>
                                  <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Mark</td>
                                  <td>Otto</td>
                                  <td>@mdo</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>Jacob</td>
                                  <td>Thornton</td>
                                  <td>@fat</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            {# end of quotation tables#}



            {#start of final quotation tables#}
                <section class="p-4">
                    <div class="table-responsive">
                        <table class="table table-sm caption-top table-hover table-bordered">
                            <caption>Completed Quotations</caption>
                            <thead class="table-light">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Quotation Id</th>
                                  <th scope="col">Client</th>
                                  <th scope="col">amount</th>
                                  <th scope="col">date</th>
                                  <th scope="col">status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Mark</td>
                                  <td>Otto</td>
                                  <td>@mdo</td>
                                  <td>@mdo</td>
                                  <td>@mdo</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>Jacob</td>
                                  <td>Thornton</td>
                                  <td>@fat</td>
                                  <td>@fat</td>
                                  <td>@fat</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            {# end of quotation tables#}


        </div>
    </main>



{% endblock %}