{% extends 'documents/base.html' %}
{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Quotations</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Create or view quotations from here</li>
            </ol>


            <div class="card bg-warning mb-4">
                <a class="text-decoration-none text-dark" href="#">
                    <div class="card-body" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <h5 class="text-center fw-bolder"><i class="bi bi-upload pe-2"></i> Create a Quotation</h5>
                    </div>
                </a>
            </div>


            <!-- Start of Upload Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Quotation Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            <!-- End of Upload Modal -->


        </div>
    </main>

{% endblock %}