{% extends 'documents/base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid bg-body-tertiary rounded-4 p-4">
            <script>
                $(document).ready(function() {
                    $('#add-form-btn').click(function() {
                        var formCount = $('.form-container').length;
                        var clone = $('.form-container').last().clone(true);
                        clone.find('input').val('');  // Clear input values
                        clone.find('label').each(function() {
                            var labelFor = $(this).attr('for');
                            $(this).attr('for', labelFor.replace(/\d+/, formCount));
                        });
                        clone.find('input, select, textarea').each(function() {
                            var id = $(this).attr('id');
                            var name = $(this).attr('name');
                            $(this).attr('id', id.replace(/\d+/, formCount));
                            $(this).attr('name', name.replace(/\d+/, formCount));
                        });
                        $('.form-container').last().after(clone);
                        $('#form_count').val(formCount + 1);
                    });


                    // Remove form functionality
                    $(document).on('click', '.remove-form-btn', function() {
                        if ($('.form-container').length > 1) {
                            $(this).closest('.form-container').remove();
                            // Update form count after removing a form
                            var formCount = $('.form-container').length;
                            $('#form_count').val(formCount);
                        } else {
                            alert("You must have at least one item in the invoice.");
                        }
                    });
                });
            </script>

            <div class="container-fluid px-3 py-2 mb-4 shadow-sm bg-white rounded-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}} rounded-5 m-3" id="myAlert">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if error_messages %}
                    <div class="alert alert-danger rounded-5">
                        <strong>There were some errors with your submission:</strong>
                        <ul>
                            {% for error in error_messages %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <h2 class="mt-2 PrimaryColor fw-bold">Quotations</h2>
                <ol class="breadcrumb mb-1">
                    <li class="breadcrumb-item active">Create or view quotations from here</li>
                </ol>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-4">
                    <div class="col d-flex align-items-start">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="currentColor" class="bi bi-calendar2-check-fill flex-shrink-0 me-3 PrimaryColor" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5m9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5m-2.6 5.854a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                        </svg>
                        <div>
                        <h3 class="fw-bold mb-0 fs-5 PrimaryColor">Quotations</h3>
                        <p class="mb-0"><span class="pe-2 text-secondary">{{ final_quotations_count }} Completed </span> <span class="text-danger pe-2"> {{ draft_quotations_count }} Draft</span></p>
    
                        </div>
                    </div>
                </div>


                <div class="card BgPrimaryColor rounded-5 mb-4">
                    <a class="text-decoration-none text-dark" href="#">
                        <div class="card-body" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <h5 class="text-center text-white fw-bolder"><i class="bi bi-upload pe-2"></i> Create a Quotation</h5>
                        </div>
                    </a>
                </div>

                <!-- Start of Upload Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                        <div class="modal-content p-4">
                        <div class="modal-header">
                            <h4 class="modal-title PrimaryColor fw-semibold" id="exampleModalLabel">Enter Quotation Details</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="original-form" method="post" action="{% url 'quotations' %}">
                                    {% csrf_token %}
                                    <div class="row g-3">
                                        <div class="col-sm-4">
                                            {{ quotation_form.client|as_crispy_field }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ quotation_form.submission_date|as_crispy_field }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ quotation_form.status|as_crispy_field }}
                                        </div>
                                        <div class="col-sm-12 mt-0">
                                            {{ quotation_form.taxable|as_crispy_field }}
                                        </div>
                                        <div class="col-sm-12 mt-0">
                                            {{ quotation_form.note|as_crispy_field }}
                                        </div>
                                    </div>

                                    <input type="hidden" id="form_count" name="form_count" value="{{ forms|length }}">
                                    {% for form in forms %}
                                        <div class="form-container">
                                            <hr class="pt-2">
                                            <h6 class="fw-bolder">Add Item Details</h6>
                                            <div class="row g-3">
                                                <div class="col-sm-12">
                                                    {{ form.item|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row g-3">
                                                <div class="col-sm-12">
                                                    {{ form.item_description|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row g-3">
                                                <div class="col-sm-6">
                                                    {{ form.quantity|as_crispy_field }}
                                                </div>
                                                <div class="col-sm-6">
                                                    {{ form.price|as_crispy_field }}
                                                </div>
                                            </div>
                                            <button type="button" class="remove-form-btn btn btn-danger rounded-5 my-2">Remove Item</button>
                                        </div>
                                    {% endfor %}



                                    <button type="button" class="btn btn-primary" id="add-form-btn">Add another Item <i class="bi bi-database-fill-add"></i></button>
                                    <div class="py-3">
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-outline-dark rounded-5" type="submit">Submit</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                <!-- End of Upload Modal -->
            </div>

            
            <div class="container-fluid p-3 mb-4 shadow-sm bg-white rounded-4">
                <h5 class="fw-semibold PrimaryColor">Draft Quotations</h5>   
                {#start of draft quotation tables#}
                    <section class="p-4">
                        <div class="table-responsive">
                            {% if draft_quotations %}
                                <table class="table table-sm table-hover table-borderless">
                                    <thead class="table-light">
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Quotation Code</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Total Amount</th>
                                        <th scope="col">Submission Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for quotation in draft_quotations %}
                                            <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td class="text-uppercase">{{ quotation.quotation_id }}</td>
                                            <td>{{ quotation.client }}</td>
                                            <td>{{ quotation.total_price|intcomma }}</td>
                                            <td>{{ quotation.submission_date|date:"d M. Y" }}</td>
                                            <td>{% if quotation.status %}
                                                    Final
                                                {% else %}
                                                    Draft
                                                {% endif %}
                                            </td>
                                            <td><a href="{% url 'quotation_details' quotation.id %}"><button type="button" class="btn btn-primary btn-sm">Edit</button></a></td>
                                            <td><a href="{% url 'quotation_delete' quotation.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="py-1">
                                        <div>
                                            <img src="/static/documents/images/as-empty-data.svg" class="d-block mx-lg-auto img-fluid" alt="Empty!" width="70" height="25" loading="lazy">
                                        </div>
                                        <p class="fs-6 pt-2 fst-italic text-center text-muted">You have no pending Quotations!.</p>
                                </div>
                            {% endif %}
                        </div>
                    </section>
                {# end of quotation tables#}
            </div>

            <div class="container-fluid p-3 mb-4 shadow-sm bg-white rounded-4">
                <h5 class="fw-semibold PrimaryColor">Final Quotations</h5>  
                {#start of final quotation tables#}
                    <section class="p-4">
                        <div class="table-responsive">
                            {% if final_quotations %}
                                <table class="table table-sm table-hover table-borderless">
                                    <thead class="table-light">
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Quotation Code</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Total Amount</th>
                                        <th scope="col">Submission Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Download</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for quotation in final_quotations %}
                                            <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td class="text-uppercase">{{ quotation.quotation_id }}</td>
                                            <td>{{ quotation.client }}</td>
                                            <td>{{ quotation.total_price|intcomma  }}</td>
                                            <td>{{ quotation.submission_date|date:"d M. Y" }}</td>
                                            <td>{% if quotation.status %}
                                                    Final
                                                {% else %}
                                                    Draft
                                                {% endif %}
                                            </td>
                                            <td><a href="{% url 'generate_pdf_quotation' quotation.id %}"><button type="button" class="btn btn-success btn-sm"><i class="bi bi-file-arrow-down-fill"></i> Download</button></a></td>
                                            <td><a href="{% url 'quotation_details' quotation.id %}"><button type="button" class="btn btn-primary btn-sm">Edit</button></a></td>
                                            <td><a href="{% url 'quotation_delete' quotation.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="py-1">  
                                        <div>
                                            <img src="/static/documents/images/as-empty-data.svg" class="d-block mx-lg-auto img-fluid" alt="Empty!" width="70" height="25" loading="lazy">
                                        </div>
                                        <p class="fs-6 pt-2 fst-italic text-center text-muted">You have no Quotations marked final   .</p>
                                </div>
                            {% endif %}
                        </div>
                    </section>
                {# end of quotation tables#}
            </div>

        </div>
    </main>

    <script>
        // Use this script to automatically close the alert after 5 seconds (5000 milliseconds)
        setTimeout(function() {
            let alertElement = document.getElementById('myAlert');
            let alert = new bootstrap.Alert(alertElement);
            alert.close();
        }, 5000);
    
    </script>

{% endblock %}