{% extends 'documents/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <main>
        {% if messages %}
           {% for message in messages %}
               <div class="alert alert-{{message.tags}} m-3">
                   {{message}}
               </div>
           {% endfor %}
        {% endif %}
        <div class="container-fluid">
            <div class="container my-5">
                  <div class="position-relative p-5 text-start text-muted bg-body border border-dashed rounded-5">
                      <h4 class="text-body-emphasis text-capitalize">Update {{ chosen_client.name }} Quotation details</h4>
                      <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ quotation_form|crispy }}
                            {{ quotation_items_form|crispy }}
                            <div class="p-3">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </div>
                      </form>

                  </div>
            </div>
        </div>
    </main>
{% endblock %}