{% extends 'documents/base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <main>

        {% if messages %}
           {% for message in messages %}
               <div class="alert alert-{{message.tags}} m-3">
                   {{message}}
               </div>
           {% endfor %}
        {% endif %}
        <div class="container-fluid">
            <div class="container my-5">
                <div class="row">
                    <div class="col-sm-6">
                          <div class="position-relative p-4 text-start text-muted bg-body border border-dashed rounded-5">
                              <h6 class="text-primary fw-bolder text-capitalize pb-2"><i class="bi bi-pencil-square"></i> Update <span class="text-uppercase">{{ delivery_note.dnote_id }}</span> Delivery note details</h6>
                              <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ delivery_note_form|crispy }}

                                    <!-- Iterate over form instances in the formset -->
                                    {{ DIformset.management_form }}
                                    {% for form in DIformset %}
                                        {{ form|crispy }}

                                    {% endfor %}


                                    <div class="py-3">
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-success" type="submit">Submit</button>
                                        </div>
                                    </div>
                              </form>
                          </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="position-relative p-4 text-start text-muted bg-body border border-dashed rounded-5">
                            <h6 class="text-success fw-bolder text-capitalize"><i class="bi bi-plus-circle-fill"></i> Add Item to <span class="text-uppercase">{{ chosen_delivery_note.dnote_id }}</span> Delivery note </h6>
                                <form method="POST" enctype="multipart/form-data" action="{% url 'add_quotation_item' chosen_delivery_note.id %}">
                                    {% csrf_token %}
                                    {{ delivery_note_items_form|crispy }}
                                    <div class="py-3">
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-success" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}